<div id="index">
  <h1>Table des matières</h1>
  <div id="show_bookmarks"></div>
  <div id="no_bookmarks"></div>
  <ul>
    <li id="lab_0_link"><a href="index.html"><span>&nbsp;</span>Page d'accueil'</a></li>
    <% labs.each do |l| -%>
      <li id="lab_<%= l.number %>_link" data-lab-id="<%= l.number %>"><a href="<%= l.filename %>"><span><%= l.number %>:</span> <%= l.name %></a></li>
    <% end -%>
  </ul>
</div>

